<div id="vote_area_<%= recommendation.id %>" class="flex items-center space-x-2">
  <% if current_user.present? && !current_user.votes.exists?(recommendation: recommendation) %>
    <%= form_with model: [recommendation, Vote.new], class: "inline-block", data: { turbo_frame: "vote_area_#{recommendation.id}" } do |f| %>
      <%= f.submit "Upvote", class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full cursor-pointer" %>
    <% end %>
  <% end %>
  <span class="text-lg font-bold text-gray-800" id="recommendation_<%= recommendation.id %>_vote_count"><%= recommendation.total_votes %></span>
</div>